apiVersion: apps/v1
kind: Deployment
metadata:
  name: hms-prescription-service-deployment
  labels:
    app: prescription-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: prescription-ms
  template:
    metadata:
      labels:
        app: prescription-ms
    spec:
      containers:
        - name: prescription-ms
          image: kams97/prescription_service:latest
          ports:
            - containerPort: 3001
          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "250m"